<main class="mx-auto mb-8 w-full px-4 md:mb-5 md:max-w-4/5 min-w-1/2 bg-gradient-to-br from-base-100 to-info-content">
  <div class="mx-auto max-w-6xl px-2">
    <.flash_group flash={@flash} />
    <div class="items-center place-items-center pt-5">
      <.topbar current_path={@current_path} />
    </div>
    <div class="pt-10">
      {@inner_content}
    </div>
  </div>
  <div class="divider py-12 max-w-6xl mx-auto" />
  <.footer />
</main>
