
<.topbar current_path={@current_path}/>

<main class="mx-auto my-8 w-full px-4 md:my-12 md:max-w-4/5 min-w-1/2">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>
