<.flash_group flash={@flash} />

<div class="text-center justify-center object-center">
  <h1 class="text-5xl text-primary p-5 ">Welcome!</h1>
  <h1 class="text-xl text-secondary p-5 text-center justify-center">Recent Posts</h1>

  <%= for post <- @all_posts do %>
      <.card 
    title={post.title} 
    image={post.image} 
    description={post.description} 
    link={post.id}
    />
  <% end %>
</div>
