@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: light, night --default --prefersdark, dark, sunset;
}

@plugin "./tailwind_heroicons.js";

/* Allows prefixing tailwind classes with LiveView classes to add rules */
/* only when LiveView classes are applied, for example: */
    /* <div class="phx-click-loading:animate-ping"> */

@variant phx-click-loading ([".phx-click-loading&", ".phx-click-loading &"]);
@variant phx-submit-loading ([".phx-submit-loading&", ".phx-submit-loading &"]);
@variant phx-change-loading ([".phx-change-loading&", ".phx-change-loading &"]);

/* @theme { */
/*   --font-sans: "GeistSans", "ui-sans-serif", "system-ui", "-apple-system", "BlinkMacSystemFont", "Inter", "Segoe UI", "Roboto", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
/*   --font-mono: "GeistMono", "ui-monospace", "SFMono-Regular", "Roboto Mono", "Menlo", "Monaco", "Liberation Mono", "DejaVu Sans Mono", "Courier New", "monospace"; */
/* } */

html,
body,
[data-phx-main] {
  height: 100%;
}

body>[data-phx-main]>footer {
  position: sticky;
  top: 100dvh;
}
