<h1 class="text-xl text-secondary p-5 text-center justify-center">Recent Posts</h1>
<%= for post <- @posts do %>

  <.card title={post.title} image={post.image} description={post.description} link={post.id} tags={post.tags}
    date={post.date} class="card-side" />

  <% end %>
